<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Foto de perfil">
      </ion-avatar>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [value]="nombreCompleto" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [value]="correoElectronico" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Teléfono</ion-label>
        <ion-input [value]="numeroTelefono || ''" readonly></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="editarPerfil()" class="custom-yellow-button">Editar Perfil</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
